<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Arquivos CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>


<body>
    <header></header>

    <section>
        <div>
            @RenderBody()
        </div>
    </section>

    <footer>
        <nav>

        </nav>
    </footer>
    <!--Arquivos JavaScript-->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
